.search-container{
    height: 20vh;
    padding: 1em;
    width: 100%;

}

.search-seat-list{
    display: flex;
    overflow-y: auto;
    margin: 1em 0 0 0;
    width: 100%;
    flex-direction: row;
    height: 124px;
    flex-wrap: wrap;
}

.search-seat-list:after {
    content  : "";
    position : sticky;
    z-index  : 1;
    bottom   : -3px;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom, 
                      rgba(255,255,255, 0), 
                      rgba(255,255,255, 1) 90%);
    width    : 100%;
    height   : 4em;
  }

  .Riksdagsfilter-chip-13 {
    transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
  }
  
  .Riksdagsfilter-chip-13:hover {
    transform: scale(1.06);
  }

  .partyimage {
      height: 20px;
      width: auto;
      margin-right: 10px;
  }

