.search-container{
    height: 20vh;
    padding: 1em;
    width: 100%;

}

.search-seat-list{
    display: flex;
    overflow-y: auto;
    margin: 1em 0 0 0;
    width: 100%;
    flex-direction: row;
    height: 124px;
    flex-wrap: wrap;
}

