
.navbar_container{
    height: 100%;
    background-color:rgb(40,40,40);
    position: fixed;
    top:0;
    display: flex;
    flex-direction: column;
    width:100px;
    color:white;
    a{
        color:white;
        text-decoration: none;
    }
    .navbar_link_home{
        height: 10vh;
        background: rgb(254, 199, 111);
        color:black;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

        
        
    }
    .navbar_link_ledamoter{
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid white;
        margin: 0;
        transition: .1s all;
        
        .fa-running{
            transition: .1s all;
            &:hover{
                color:lightpink;
                transform: scale(1.1);
            }
        }
    }

    .navbar_link_partier{
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid white;
        margin: 0;

        .fa-layer-group{
            transition: .1s all;
            &:hover{
                color:lightpink;
                transform: scale(1.1);
            }
        }
    }
    .navbar_link_parties{
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid white;
        margin: 0;

        .fa-handshake{
            transition: .1s all;
            &:hover{
                color:lightpink;
                transform: scale(1.1);
            }
        }
    }

    .navbar_link_about{
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid white;
        margin-top: auto;
        position: absolute;
        bottom: 0;
        left:0;
        right: 0;
    }
}

