$lightblue: #4E68FF;
$darkblue: #3C59FA;
$almostwhite: #FAFAFA;
$hotpink: #D43D5D;

$party-S: #ff0000;
$party-M: #0ebdef;
$party-SD: #ffca00;
$party-C: #00703c;
$party-V: #ef0000;
$party-KD: #0059a3;
$party-L: #0065b6;
$party-MP: #12a846;

.bg-S { fill: $party-S; }
.bg-M { fill: $party-M; }
.bg-SD { fill: $party-SD; }
.bg-C { fill: $party-C; }
.bg-V { fill: $party-V; }
.bg-KD { fill: $party-KD; }
.bg-L { fill: $party-L; }
.bg-MP { fill: $party-MP; }