@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
  font-family: "Rubik";
  color: #FAFAFA;
}



#cardHead {
  height: 25%;
  
}

#cardHead img {
  /* Add rounded corners to the top left and the top right corner of the image */
  width: 100px;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.6);
  float: right;
  margin: 10px 30px 0 0;
}

#cardTitle {
  position: absolute;
  z-index: 2;
}

#cardTitle h1{
  margin: 30px 0 0 5px;
}

#cardTitle p{
  text-align: right;
  margin: 0;
}

#cardBanner {
  position: absolute;
  margin-top: -25px;
  margin-left: 46px;
  width: 25%;
  fill: #00703c;
  z-index: 1;
}

/* #bannerShadow {
  fill: #004424;
  z-index: -1;
} */

#cardStat {
  flex: row;
  background: #4E68FF;
  height: 25%;
  margin-top: 50px;
}

#cardStat div {
  text-align: center;
  width: 33.333%;
  display: inline-block;
}

#cardStat div:nth-of-type(even) {
  background: #3C59FA;
}

#cardStat h1{
  margin: 0;
}

#cardStat p{
  margin: 0;
  padding-top: 5px;
}

#cardVote {
  background: #4E68FF;
  height: 25%;
  margin-top: 20px;
  text-align: center;
}



#cardVote h2{
  margin: 0;
}

#cardVote p{
  margin: 0;
  text-align: left;
}

#cardVote ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#cardVote li{
  text-align: center;
  display: inline-block;
  padding: 5px 5px 2px 5px;
}