//colors
$gray:  grey;
$black: black;

.newsBox {
	display: flex;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 8px;
	font-size: 0.8em;
	background: #FFF;
	margin: 0.5em;
	&:hover {
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 3px 5px rgba(0, 0, 0, 0.14);
	}
}
.articleImageBox {
	width: 30%;
	margin: 1em;
	margin-top: 2em;
	img {
		width: 100%;
		object-fit: cover;
	}
}
.articleInfoBox {
	display: flex;
	width: 70%;
	flex-direction: column;
	padding: 0.5em;
	margin: 0.5em;
	a {
		text-decoration: none;
		color: $black;
	}
}