.ledamot_container{
	color: #FAFAFA;
}

.cardHead {
	img{
		display:block;
		height: 100px;
		border-radius: 25px;
		border: 2px solid white;
		box-shadow: 0 3px 10px 0 rgba(0,0,0,0.6);
	}

	.cardTitle{
		border-radius: 0px 10px 10px 0px;
		padding: 15px 0px 15px 0px;
		margin-left: -16px;
		margin-right: 20px;
	}

	h1, p{
		flex: nowrap;
		margin: 0px 0px 0px 20px;
	}
}

.cardStat {
		flex: row;
		background: #4E68FF;
		height: 25%;
		margin-top: 10px;

	div{
		text-align: center;
		width: 33.333%;
		display: inline-block;
		&:nth-of-type(even){
			background: #3C59FA;
		}
	}

	h1{
		margin: 0;
	}

	p{
		margin: 0;
		padding-top: 5px;
	}
}

.cardVote {
	background: #4E68FF;
	height: 25%;
	margin-top: 10px;
	text-align: center;
	h2{
		margin: 0;
	}
	p{
		margin: 0;
		text-align: left;
	}
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
		text-align: center;
	}
	li{
		text-align: center;
		display: inline-block;
		padding: 5px 5px 2px 5px;
	}
}
