.chordContainer {
    height: 550px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.chordContainer .apiFetchMessage {
    position: fixed;
    width: 150px;
    height: 50px;
    top: 25;
    left: 25;
    right: 250;
    bottom: 250;
    z-index: 2;
    text-align: center;
    color: #f8faf8;
    background-color: #0ae427;
    transition: ease-in-out(500);
}

.chordRightColumn {
    display: flex;
    flex-direction: column;
}

.partyHoverInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partyHoverInfo img {
    height: 90px;
}

.partyHoverInfo .list-group {
    width: 400px;
}

.partyHoverInfo .list-group-item {
    padding: 0.5em;
    font-size: 90%;
}